
#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background: rgba(64, 94, 128, 1);
  color: #fff;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: rgba(64, 94, 128, 1);
}

#sidebar ul.components {
  padding: 20px 0;
  //border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  //padding: 10px;
  //font-size: 1.1em;
  //display: block;
}

#sidebar ul li a:hover {
  //color: #7386D5;
  //background: #fff;
  text-decoration: none;

}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  //color: #fff;
  //background: #6d7fcc;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.15);
  border-bottom-right-radius: 9999px;
  border-top-right-radius: 9999px;
}

#sidebar ul li:hover {
  background: rgba(255, 255, 255, 0.05);
  border-bottom-right-radius: 9999px;
  border-top-right-radius: 9999px;
}

@media only screen and (min-width: 768px) {
  #sidebar {
    margin-left: 0px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebar {
    min-width: 220px;
    max-width: 220px;
    min-height: 100vh;
  }

}

@media only screen and (min-width: 1350px) {
  #sidebar {
    margin-left: -0px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebar {
    min-width: 220px;
    max-width: 220px;
    min-height: 100vh;
  }

}

@media only screen and (min-width: 1500px) {
  #sidebar {
    margin-left: 0px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebar {
    min-width: 240px;
    max-width: 240px;
    min-height: 100vh;
  }

}

#sidebar {
  a {
    text-decoration: none !important;
  }
}

#sidebar.minified {
  padding-left: .5rem !important;
  padding-right: .5rem !important;
  min-width: 80px;

}

@media (min-width: 300px) {
  #sidebar:not(.minified) {
    height: 80px !important;
    width: 80px !important;
    overflow: hidden ;
    opacity: .6;
    .toggle-lang {
      flex-direction: column;
    }

  }
  .toggle-lang {
    a {
      margin-bottom: 0.3rem;
      padding-top:.5rem;
      font-size: .875rem;;
    }
  }
  #sidebar.minified {
    opacity: 0.9;
    overflow-y: auto ;
    max-height: 100% !important;
  }
}

@media (min-width: 768px) {
  #sidebar:not(.minified) {
    overflow: auto ;
  }
  #sidebar.minified{
    overflow: auto ;
  }
  #sidebar {
    overflow-y: auto ;
    .toggle-lang {
      flex-direction: row !important;
    }
  }
  #sidebar.minified {
    .toggle-lang {
      flex-direction: column !important;
    }
  }

  .wrapper:not(.collapsed) {
    .body-container:not(.login) {
      max-width: calc(95%) !important;
      padding-left: 16.5rem;

    }

  }

  .wrapper.collapsed {
    .body-container {
      max-width: calc(100% - 50px) !important;
      padding-left: 5.5rem;
    }

  }

  #sidebar {
    position: fixed;
  }
  #sidebar.minified {
    width: 80px !important;
    .hide-min {
      display: none;
    }

    .user-section {
      min-height: 50px;
      //*:not(img){
      //  display: none;
      //}

      img {
        margin-left: 10px !important;
      }
    }
    .sidebar-header {
      padding: 0.6rem !important;
    }
    .remove-text-minified {
      padding-left: 0 !important;
      font-size: 0px !important;
      min-height: 57px !important;
    }

  }

  #sidebar:not(.minified) {
    opacity: 1;
  }

}

@media (min-width: 992px) {
  .wrapper:not(.collapsed) {
    .body-container:not(.login) {
      max-width: calc(98%) !important;
      padding-left: 16.5rem;
    }
  }

  .wrapper.collapsed {
    .body-container {
      max-width: calc(100% - 50px) !important;
      padding-left: 5.5rem;
    }
  }
}

@media (min-width: 1200px) {
  .wrapper.collapsed {
    .body-container {
      max-width: calc(100% - 100px) !important;
    }
  }

  .wrapper:not(.collapsed) {
    .body-container {
      max-width: calc(95%) !important;
    }
  }
}

@media only screen and (min-width: 1350px) {
  .wrapper.collapsed {
    .body-container {
      max-width: calc(100% - 50px) !important;
    }
  }

  .wrapper:not(.collapsed) {
    .body-container {
      max-width: calc(95%) !important;
    }
  }
}

@media only screen and (min-width: 1500px) {
  .wrapper.collapsed {
    .body-container {
      max-width: calc(100% - 200px) !important;
    }
  }
  .wrapper:not(.collapsed) {
    .body-container {
      max-width: calc(95%) !important;

    }
  }
}
