// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
//// Variables
@import 'variables';
@import 'vue_modal';
@import 'sidebar';
//
//
@import "~tailwindcss/components.css";
@import "~tailwindcss/utilities.css";
@import "~tailwindcss/preflight.css";
@import '~fullcalendar/dist/fullcalendar.css';
@import './style.css';
@import './breadcrumbs';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

}

.content {
  width: 100%;
}

.multiselect__input {
  max-width: 100% !important;
}

.multiselect__element {
  color: black !important;

  span {
    color: black !important;
  }
}

body {
  //background-color: #F0F0F0 !important;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.note-select {

  .multiselect__placeholder {
    font-weight: 700;
    color: #8795a1;
  }
  .multiselect__content, .multiselect__input, .multiselect__single {
    background-color: #f1f5f8;
  }
  .multiselect__tags {
    border: none;
    background-color: #f1f5f8;
  }

}

.height-align {
  height: 42px;
}

body {
  font-family: 'Work Sans', sans-serif;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

//@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.custom-navs {
  button.active {
    color: #1F9D55 !important;
    background: rgba(92, 182, 87, 0.15) !important;
    border-radius: 9999px !important;
  }

}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: transparent;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, .05);
}

//#sidebar {
//  min-width: 300px;
//  max-width: 300px;
//}

#sidebar.active {
  margin-left: -250px;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.fade {
  transition: opacity .15s linear;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}

.min-h-900 {
  min-height: 900px !important;
}

.min-h-900 {
  max-height: 900px !important;
}

#calendar {

  .fc-day-top {
    text-align: center;
    padding: 0 9%;
    background: transparent !important;

    .fc-day-number {
      padding: 9px;
      background: transparent;
      border-radius: 50%;
      height: 16px;
      width: 16px;
      /* padding: 0 10px; */
      color: black;
      font-weight: 600;
    }
  }

  //.fc-day-top.fc-today {
  //  .fc-day-number {
  //    background-color: rgba(92, 182, 87, 0.15);
  //  }
  //}
  .alert-info {
    background: transparent !important;
  }
  .fc-content-skeleton {
    .fc-today {
      .fc-day-number {

      }
    }
  }
  .fc-more-cell {
    position: absolute;
    background: #5CB657;
    border-radius: 50%;
    padding: 0px;
    height: 20px;
    //top: -8px;
    margin-left: 42px;
    padding-top: 3px;
    color: white;
    font-weight: 500;
    opacity: 0.8;
  }
  .fc-body .fc-row {
    min-height: 25px;
  }

  .fc td, .fc th {
    border-style: none !important;
  }
  .fc-day-header {
    border-color: transparent !important;
  }

  .table-bordered {
    border-color: transparent !important;

  }
  .fc-toolbar {
    .fc-left {
      h2 {
        color: #1f9d55;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
  .fc-day-top {
    text-align: center;
  }
  .fc-day-number {
    width: 100%;
  }
  .fc-day {
    padding-bottom: 10px;
  }

  .fc-right {
    button {
      color: #666666;
      background: transparent;
      border: none;
      span {
        font-size: 23px;
        color: #666666;
      }
    }
  }
  .fc-view-container {
    * {
      border-color: transparent !important;
    }
  }
}

#calendarTab {
  .selected-day {
    position: relative;
    min-height: 200px;

    .selected-day-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

button:focus {
  outline: none;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: none;
}

.min-h-700 {
  min-height: 700px;
}

.max-h-700 {
  max-height: 700px;
}

/**
 * Like, basically PERFECT scrollbars
 */

/*
   It's pure CSS.
   Since a quick google search will confirm people going crazy about Mac OS Lion scrollbars...
   this has no fade-out effect.

   In Mac OS Lion, the lowest common denominator is always showing scrollbars by a setting.
   So, this fits that lowest common denominator.

   Facebook, lifehacker, and Google have all basically taken this approach. Of course Google uses incredibly ugly square scrollbars, but so be it.
   Also, in regards to the fade in/out effect, this may just be one reason why soo many people outraged (and still hide) the ticker.

   Ending note: I recommend this for non-lion users. As a lion user, I prefer my fading out scrollbars. If you sniff a UA of mac os lion, don't add this css.
*/

///* Turn on custom 8px wide scrollbar */
//::-webkit-scrollbar {
//  width: 8px; /* 1px wider than Lion. */
//  /* This is more usable for users trying to click it. */
//  //background-color: rgba(0, 0, 0, 0);
//  background-color: #DAE1E7 !important;
//  -webkit-border-radius: 100px;
//}
//
///* hover effect for both scrollbar area, and scrollbar 'thumb' */
//::-webkit-scrollbar:hover {
//  background-color: rgba(0, 0, 0, 0.09);
//}
//
///* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
//::-webkit-scrollbar-thumb:vertical {
//  /* This is the EXACT color of Mac OS scrollbars.
//     Yes, I pulled out digital color meter */
//  background: rgba(0, 0, 0, 0.2);
//  -webkit-border-radius: 100px;
//}
//
//::-webkit-scrollbar-thumb:vertical:active {
//  background: #D8D8D8; /* Some darker color when you click it */
//  -webkit-border-radius: 100px;
//}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(220, 220, 220, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(220, 220, 220, 0.4);
}

//background: linear-gradient(45deg, white, silver);
//min-height: 100%;

table.scrollable-fixed-header {
  width: 100%;

  thead, tbody, tr, td, th {
    //display: block;
  }

  tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
  }

  thead {
    /* fallback */
  }
}

.min-h-630 {
  min-height: 630px;
}

.max-h-630 {
  max-height: 630px;
}

.max-h-750 {
  max-height: 750px;
}

.min-h-750 {
  min-height: 750px;
}

.fc-more-popover {
  background: white;
  border-radius: 5px;
}

.wrapper {
  min-height: 100vh;
}

.filter-selector {
  .multiselect__tags, .multiselect__select, .multiselect__input {
    background: transparent !important;
  }
  .multiselect__tag {
    display: none;
  }

  .multiselect__input {
    //width: 95% !important;
  }
}

.fc-more-cell {
  min-width: 25px;
  min-height: 25px;
  display: flex;
  font-size: 15px;
  font-weight: 500 !important;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .fc-more-cell {
    margin-left: 25px !important;
  }

}

@media only screen and (min-width: 1350px) {
  .fc-more-cell {
    margin-left: 25px !important;
  }
}

@media only screen and (min-width: 1500px) {
  .fc-more-cell {
    margin-left: 40px !important;
  }
}

.tooltip-datatable {
  top: 0px;
  color: white;
  background: #22292F;
  border-radius: 5px;
  padding: 3px;
  margin-top: -30px;
  max-width: 270px;
  z-index: 10000 !important;
  word-wrap: break-word
  //transform: translate3d(0, 66px, 0) !important;

}

.multiselect__element {
  label {
    max-width: 100% !important;
    display: block;
    padding: 10px;
    min-height: 40px !important; /* for the latest browsers which support min-height */
  }
}

.filter-selector {
  .multiselect__option {
    padding: 0;
  }
}

.multiselect--active {
  background: #505f79 !important;
  border-radius: 5px;
  .multiselect__tags {
    background: #505f79 !important;
    border-radius: 5px;

  }

  .multiselect__input {
    background: #505f79
  }
}

.filter-selector.multiselect--active, .multiselect--active {
  background: #505f79;
  border-radius: 5px;
  max-height: 40px;

  .multiselect__content-wrapper {
    margin-top: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px -2px rgba(9, 30, 66, .25), 0 0 1px rgba(9, 30, 66, .31);
  }
  .multiselect__content {
    background: white;
    border-radius: 5px;

  }
  .multiselect__placeholder, .multiselect__input, .multiselect__input::placeholder {
    color: white;
  }
}

.multiselect__option--highlight {
  background: #F1F5F8;
}

.multiselect__tags {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  //max-height: 42px !important;
  min-height: 42px !important;

  cursor: pointer;
}

.filter-selector {
  .multiselect__element {
    //max-width: 160px;

    .multiselect__option {
      max-width: 100%;
      label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

    }
  }
}

.multiselect__content-wrapper {

  .multiselect__content {
    width: 100%;
    max-width: 100%;
    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

  }
}

.multiselect-field {
  //box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  border-radius: 5px;
}

.clipboard-custom-class {
  background: #405e80 !important;;
}

.clipboard-container, .user-container {
  [aria-hidden="true"] {
    opacity: 0;
    position: absolute;
    z-index: -9999;
    pointer-events: none;
  }

}

.multiselect__option multiselect__option--selected {

}

.clear-filter-button {
  padding: 5px;
  background: #c3c7cc
}

.multiselect-with-remove {
  .multiselect__select {
    margin-right: 10px;
  }
}

.main-table th:hover i {
  display: inline-block !important;
  //z-index: 999999;
}

//html, body { margin: 0; padding: 0; height: 100%; width: 100%;}

body, html {
  overflow-x: hidden;
}

.link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

//.multiselect__content-wrapper{
//  min-width: 250px;
//}

.mx-input-append {
  display: none;
}

.vdp-datepicker {
  .vdp-datepicker__clear-button {
    padding: 5px;
    background: #c3c7cc;
    font-size: .4rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 10px;
    top: 14px;
    i {
      font-size: .4rem;
      color: white;

    }
  }
}

.pagination-select .multiselect__select {
  width: 60px;
}

.pagination-select .multiselect--active .multiselect__tags {
  width: 200px;
}

.fc-day-header {
  span {
    color: #D8D8D8;
  }
}

.fc-toolbar {
  .fc-right {
    button[aria-label="prev"] {
      span {
        font-family: 'icomoon' !important;
        &:before {
          content: "\e993";
        }
      }

    }

    button[aria-label="next"] {
      span {
        font-family: 'icomoon' !important;
        &:before {
          content: "\e98f";
        }
      }

    }
  }
}

.fc-more-cell {
  display: none;
}

.fc-day-grid-event {
  .fc-content {
    text-align: center;
  }
}

.fc-event-container {
  position: relative;

  .fc-day-grid-event {
    position: absolute;
    top: -39px;
    right: 30px;
    width: 22px;
    height: 22px;
    padding-top: 1px;
    box-sizing: border-box;
    display: flex;
    font-size: 0.65rem;
    justify-content: center;
    background: #5cb657;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-weight: 500;
    opacity: .8;
  }

  .fc-day-grid-event.past {
    background: #D8D8D8;

  }
}

.fc-content-skeleton {
  //margin-top: 2px;
}

.fc-day-grid {

  .fc-row:first-child {
    padding-top: 5px;
  }
}

.fc-today span {
  color: #5CB657 !important;
}

.fc-day-top:focus {
  span {
    background-color: red !important;
  }
}

//for the count of the followups
@media only screen and (min-width: 768px) {
  .fc-event-container {
    .fc-day-grid-event {
      right: 10px;
    }
  }

}

@media only screen and (min-width: 1350px) {
  .fc-event-container {
    .fc-day-grid-event {
      right: 15px;
    }
  }
}

@media only screen and (min-width: 1500px) {
  .fc-event-container {
    .fc-day-grid-event {
      right: 20px;
    }
  }
}

@media only screen and (min-width: 1700px) {
  .fc-event-container {
    .fc-day-grid-event {
      right: 25px;
    }
  }
}

@media only screen and (min-width: 1800px) {
  .fc-event-container {
    .fc-day-grid-event {
      right: 30px;
    }
  }
}

.fc-past {

}

.fc-highlight {
  background: transparent;
  position: relative;
  &:after {
    position: absolute;
    width: 30px;
    top: 3px;
    right: 38%;
    background-color: #5cb657;
    opacity: .5;
    height: 30px;
    border-radius: 50%;
    content: "";
  }
}

.fc-day-grid {
  .fc-row:first-child {
    .fc-highlight {
      &:after {
        top: 7px;
      }
    }

  }
}

.toasted {
  i {
    margin-right: 5px;
    font-size: 16px;
  }

}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}

.multiselect__single {
  color: #5cb657;
}

.multiselect.filled {
  .multiselect__tags {
    background: rgba(92, 182, 80, 0.2);

  }

  .multiselect__single {
    background: transparent;
  }
}

.theme-radio-label {

}

.form-check-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-check-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.form-check-label .checkmark {
  border: 1px solid #A9A9A9;
  position: absolute;
  top: 3px;
  left: 0;
  height: 21px;
  width: 21px;
  background-color: white;
}

/* On mouse-over, add a grey background color */
.form-check-label:hover input ~ .checkmark {
  background-color: #F5F5F5;
}

/* When the checkbox is checked, add a blue background */
.form-check-label input:checked ~ .checkmark {
  background-color: #405e80;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.form-check-label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.form-check-label .checkmark:after {
  left: 8px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media only screen and (min-width: 300px) {
  .wrapper.collapsed {
    .body-container {
      max-width: calc(100% - 10px);
    }
  }

  .wrapper:not(.collapsed) {
    .body-container {
      max-width: 100%;
      padding-right: 20px;
    }
  }
}

@media only screen and (max-width: 768px) {
  #sidebar {
    position: fixed;
    z-index: 99;
    height: 100%;
  }
}

.bounce-enter-active {
  animation: bounce-in .7s;
}

.bounce-leave-active {
  animation: none;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

[dir=rtl] .icon-Right_Arrow_1_1:before {
  transform: scale(-1);
  display: inline-block;
}

[dir=rtl] .checkmark {
  transform: scaleX(-1);
  display: inline-block;
}

#sidebar.minified .toggle-lang {
  .minifiy-button {
    margin-top: 10px;
  }

}

[dir=rtl] .fa-chevron-right,
[dir=rtl] .fa-chevron-left {

  transform: scaleX(-1);
}

.login {
  .form-check-label {
    display: initial;
    padding-left: 5px;
  }
}

#calendar.fc-rtl {
  .fc-highlight:after {
    position: absolute;
    width: 30px;
    top: 3px;
    opacity: .5;
    height: 30px;
    content: "";
    //right: 37%;
  }

  .fc-day-grid .fc-row:first-child .fc-highlight:after {
    top: 7px;
  }
}

//for the count of the followups
@media only screen and (min-width: 500px) {
  #calendar.fc-rtl {
    .fc-highlight:after {
      left: 38%;
      //background: red !important;
    }
  }
}


.swal2-popup {
  .swal2-header,.swal2-actions {
    font-size: 0.7rem;
  }
}


.multiselect__tags-wrap{
  display: flex;
  flex-wrap: wrap;
}


.flip-image{
  transform: rotate(-180deg);
}

.image-top .image-container{
  position: relative;
  a{
    position: absolute;
    top: 0;
    right: 0;
    margin: .75rem;
    text-decoration: none;
    font-size: 1.1rem;
  }
}

.body-container{
  transition: all .3s;
}