@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?8f3hjj');
    src: url('../fonts/icomoon.eot?8f3hjj#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?8f3hjj') format('truetype'),
    url('../fonts/icomoon.woff?8f3hjj') format('woff'),
    url('../fonts/icomoon.svg?8f3hjj#icomoon') format('svg'),
url('../fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-Tea_Cup_1:before {
    content: "\e900";
}

.icon-Scissors_1:before {
    content: "\e901";
}

.icon-Stack_2_1:before {
    content: "\e902";
}

.icon-Rocket_1:before {
    content: "\e903";
}

.icon-Stack_1_1:before {
    content: "\e904";
}

.icon-Binoculars_1:before {
    content: "\e905";
}

.icon-Paper_Clip_1:before {
    content: "\e906";
}

.icon-Bookmark_2_1:before {
    content: "\e907";
}

.icon-Atom_1:before {
    content: "\e908";
}

.icon-Posicle_1:before {
    content: "\e909";
}

.icon-Tree_1:before {
    content: "\e90a";
}

.icon-Presentation_4_1:before {
    content: "\e90b";
}

.icon-Presentation_3_1:before {
    content: "\e90c";
}

.icon-Bookmark_1_1:before {
    content: "\e90d";
}

.icon-Graduation_1:before {
    content: "\e90e";
}

.icon-Presentation_5_1:before {
    content: "\e90f";
}

.icon-Pill_1:before {
    content: "\e910";
}

.icon-Presentation_1_1:before {
    content: "\e911";
}

.icon-Medicine_Bottle_1:before {
    content: "\e912";
}

.icon-Broken_Heart_2_1:before {
    content: "\e913";
}

.icon-Presentation_2_1:before {
    content: "\e914";
}

.icon-Health_Circle_1:before {
    content: "\e915";
}

.icon-Broken_Heart_1_1:before {
    content: "\e916";
}

.icon-Health_Square_1:before {
    content: "\e917";
}

.icon-Bandaid_1:before {
    content: "\e918";
}

.icon-Text_Align_Right_1:before {
    content: "\e919";
}

.icon-Desk_1:before {
    content: "\e91a";
}

.icon-Text_Align_Center_1:before {
    content: "\e91b";
}

.icon-Text_Align_Justify_1:before {
    content: "\e91c";
}

.icon-Crossbones_1:before {
    content: "\e91d";
}

.icon-Text_Align_Left_1:before {
    content: "\e91e";
}

.icon-Bookshelf_1:before {
    content: "\e91f";
}

.icon-Bone_1:before {
    content: "\e920";
}

.icon-Beaker_3_1:before {
    content: "\e921";
}

.icon-Wine_Glass_1:before {
    content: "\e922";
}

.icon-Beaker_2_1:before {
    content: "\e923";
}

.icon-Target_1:before {
    content: "\e924";
}

.icon-Bottle_1:before {
    content: "\e925";
}

.icon-Top_Hat_with_Cane_1:before {
    content: "\e926";
}

.icon-Test_Tube_1:before {
    content: "\e927";
}

.icon-Grid_1_1:before {
    content: "\e928";
}

.icon-Beaker_1_1:before {
    content: "\e929";
}

.icon-Grid_12_1:before {
    content: "\e92a";
}

.icon-Grid_10_1:before {
    content: "\e92b";
}

.icon-Grid_11_1:before {
    content: "\e92c";
}

.icon-Grid_9_1:before {
    content: "\e92d";
}

.icon-Grid_7_1:before {
    content: "\e92e";
}

.icon-Grid_8_1:before {
    content: "\e92f";
}

.icon-Grid_6_1:before {
    content: "\e930";
}

.icon-Grid_5_1:before {
    content: "\e931";
}

.icon-Grid_4_1:before {
    content: "\e932";
}

.icon-Admission_Tickets_1:before {
    content: "\e933";
}

.icon-Neck_Tie_1:before {
    content: "\e934";
}

.icon-Grid_2_1:before {
    content: "\e935";
}

.icon-Admission_Ticket_1:before {
    content: "\e936";
}

.icon-Grid_3_1:before {
    content: "\e937";
}

.icon-Music_Note_in_a_Square_2_1:before {
    content: "\e938";
}

.icon-Music_Note_in_a_Square_3_1:before {
    content: "\e939";
}

.icon-Music_Note_in_a_Circle_1:before {
    content: "\e93a";
}

.icon-Music_Note_in_a_Square_1_1:before {
    content: "\e93b";
}

.icon-Bow_Tie_1:before {
    content: "\e93c";
}

.icon-Drawers_1_1:before {
    content: "\e93d";
}

.icon-Drawers_3_1:before {
    content: "\e93e";
}

.icon-Drawers_2_1:before {
    content: "\e93f";
}

.icon-Safe_1:before {
    content: "\e940";
}

.icon-Circle_Outline_1:before {
    content: "\e941";
}

.icon-Circle_Outline_Down_1:before {
    content: "\e942";
}

.icon-Circle_Outline_Up_1:before {
    content: "\e943";
}

.icon-Circle_Outline_with_Dot_1:before {
    content: "\e944";
}

.icon-Square_Outline_with_Cube_1:before {
    content: "\e945";
}

.icon-Square_Outline_Up_1:before {
    content: "\e946";
}

.icon-Square_Outline_Down_1:before {
    content: "\e947";
}

.icon-Next_1:before {
    content: "\e948";
}

.icon-Fast_Forward_1:before {
    content: "\e949";
}

.icon-Square_Outline_1:before {
    content: "\e94a";
}

.icon-Moon_Cycle_8_1:before {
    content: "\e94b";
}

.icon-Record_1:before {
    content: "\e94c";
}

.icon-Eject_1:before {
    content: "\e94d";
}

.icon-Thermometer_1:before {
    content: "\e94e";
}

.icon-Moon_Cycle_7_1:before {
    content: "\e94f";
}

.icon-Play_1:before {
    content: "\e950";
}

.icon-Stop_1:before {
    content: "\e951";
}

.icon-Pause_1:before {
    content: "\e952";
}

.icon-Moon_Cycle_6_1:before {
    content: "\e953";
}

.icon-Moon_Cycle_4_1:before {
    content: "\e954";
}

.icon-Moon_Cycle_5_1:before {
    content: "\e955";
}

.icon-Moon_Cycle_2_1:before {
    content: "\e956";
}

.icon-Fahrenheit_1:before {
    content: "\e957";
}

.icon-Moon_Cycle_1_1:before {
    content: "\e958";
}

.icon-Wind_1:before {
    content: "\e959";
}

.icon-Cloud_with_Rain_3_1:before {
    content: "\e95a";
}

.icon-Moon_Cycle_3_1:before {
    content: "\e95b";
}

.icon-Cloud_with_Snow_1:before {
    content: "\e95c";
}

.icon-Celsius_1:before {
    content: "\e95d";
}

.icon-Cloud_with_Rain_2_1:before {
    content: "\e95e";
}

.icon-Cloud_with_Rain_Lightning_1:before {
    content: "\e95f";
}

.icon-Cloud_with_Rain_1_1:before {
    content: "\e960";
}

.icon-Cloud_with_Lightning_1:before {
    content: "\e961";
}

.icon-Cloud_2_1:before {
    content: "\e962";
}

.icon-Rainbow_1:before {
    content: "\e963";
}

.icon-Cloud_with_Sun_1:before {
    content: "\e964";
}

.icon-Umbrella_1:before {
    content: "\e965";
}

.icon-Moon_with_Craters_1:before {
    content: "\e966";
}

.icon-Droplet_1:before {
    content: "\e967";
}

.icon-Cloud_1_1:before {
    content: "\e968";
}

.icon-Orbit_1:before {
    content: "\e969";
}

.icon-Sunrise_1:before {
    content: "\e96a";
}

.icon-Sun_1:before {
    content: "\e96b";
}

.icon-Moon_1:before {
    content: "\e96c";
}

.icon-Forked_Path_1:before {
    content: "\e96d";
}

.icon-Curved_Arrow_Left_1:before {
    content: "\e96e";
}

.icon-Right_Arrow_6_1:before {
    content: "\e96f";
}

.icon-Sunset_1:before {
    content: "\e970";
}

.icon-Shuffle_1:before {
    content: "\e971";
}

.icon-Infinite_1:before {
    content: "\e972";
}

.icon-Right_Angle_Arrow_2_1:before {
    content: "\e973";
}

.icon-Full_Screen_1:before {
    content: "\e974";
}

.icon-Popout_1:before {
    content: "\e975";
}

.icon-Curved_Arrow_Right_1:before {
    content: "\e976";
}

.icon-Curved_Arrow_Down_1:before {
    content: "\e977";
}

.icon-Full_Screen_Reverse_1:before {
    content: "\e978";
}

.icon-Curved_Arrow_Up_1:before {
    content: "\e979";
}

.icon-Right_Angle_Arrow_1_1:before {
    content: "\e97a";
}

.icon-Down_Arrow_6_1:before {
    content: "\e97b";
}

.icon-Up_Arrow_6_1:before {
    content: "\e97c";
}

.icon-Down_Arrow_5_1:before {
    content: "\e97d";
}

.icon-Left_Arrow_6_1:before {
    content: "\e97e";
}

.icon-Right_Arrow_4_1:before {
    content: "\e97f";
}

.icon-Down_Arrow_4_1:before {
    content: "\e980";
}

.icon-Right_Arrow_5_1:before {
    content: "\e981";
}

.icon-Up_Arrow_5_1:before {
    content: "\e982";
}

.icon-Move_1:before {
    content: "\e983";
}

.icon-Left_Arrow_5_1:before {
    content: "\e984";
}

.icon-Left_Arrow_4_1:before {
    content: "\e985";
}

.icon-Download_1_1:before {
    content: "\e986";
}

.icon-Up_Arrow_4_1:before {
    content: "\e987";
}

.icon-Down_Arrow_3_1:before {
    content: "\e988";
}

.icon-Left_Arrow_3_1:before {
    content: "\e989";
}

.icon-Up_Arrow_3_1:before {
    content: "\e98a";
}

.icon-Right_Arrow_3_1:before {
    content: "\e98b";
}

.icon-Down_Arrow_2_1:before {
    content: "\e98c";
}

.icon-Right_Arrow_2_1:before {
    content: "\e98d";
}

.icon-Up_Arrow_2_1:before {
    content: "\e98e";
}

.icon-Right_Arrow_1_1:before {
    content: "\e98f";
}

.icon-Turn_Ahead_1:before {
    content: "\e990";
}

.icon-Left_Arrow_2_1:before {
    content: "\e991";
}

.icon-Down_Arrow_1_1:before {
    content: "\e992";
}

.icon-Left_Arrow_1_1:before {
    content: "\e993";
}

.icon-Radar_1:before {
    content: "\e994";
}

.icon-Up_Arrow_1_1:before {
    content: "\e995";
}

.icon-Billboard_1_1:before {
    content: "\e996";
}

.icon-Exit_2_1:before {
    content: "\e997";
}

.icon-Billboard_2_1:before {
    content: "\e998";
}

.icon-Exit_1_1:before {
    content: "\e999";
}

.icon-Location_Pin_2_1:before {
    content: "\e99a";
}

.icon-Globe_with_Arrows_1:before {
    content: "\e99b";
}

.icon-Compass_1:before {
    content: "\e99c";
}

.icon-Sign_Post_1:before {
    content: "\e99d";
}

.icon-Road_Signs_1:before {
    content: "\e99e";
}

.icon-Globe_1_1:before {
    content: "\e99f";
}

.icon-Globe_2_1:before {
    content: "\e9a0";
}

.icon-Atlas_1:before {
    content: "\e9a1";
}

.icon-Globes_1:before {
    content: "\e9a2";
}

.icon-Flag_2_1:before {
    content: "\e9a3";
}

.icon-Flag_1_1:before {
    content: "\e9a4";
}

.icon-Map_2_1:before {
    content: "\e9a5";
}

.icon-Map_1_1:before {
    content: "\e9a6";
}

.icon-Location_Target_1:before {
    content: "\e9a7";
}

.icon-Location_Pin_3_1:before {
    content: "\e9a8";
}

.icon-Location_Pin_1_1:before {
    content: "\e9a9";
}

.icon-File_Type_JPG_1:before {
    content: "\e9aa";
}

.icon-File_Type_PNG_1:before {
    content: "\e9ab";
}

.icon-File_Type_AI_1:before {
    content: "\e9ac";
}

.icon-Yahoo_Square_1:before {
    content: "\e9ad";
}

.icon-File_Type_PSD_1:before {
    content: "\e9ae";
}

.icon-File_Type_GIF_1:before {
    content: "\e9af";
}

.icon-File_Type_PDF_1:before {
    content: "\e9b0";
}

.icon-Dropbox_Square_1:before {
    content: "\e9b1";
}

.icon-Dribbble_Square_1:before {
    content: "\e9b2";
}

.icon-WordPress_Square_1:before {
    content: "\e9b3";
}

.icon-Instagram_Square_1:before {
    content: "\e9b4";
}

.icon-Tumblr_Square_1:before {
    content: "\e9b5";
}

.icon-Google_Plus_Square_1:before {
    content: "\e9b6";
}

.icon-Vimeo_Square_1:before {
    content: "\e9b7";
}

.icon-Pinterest_Square_1:before {
    content: "\e9b8";
}

.icon-LinkedIn_Square_1:before {
    content: "\e9b9";
}

.icon-Dribbble_Circle_1:before {
    content: "\e9ba";
}

.icon-YouTube_Square_1:before {
    content: "\e9bb";
}

.icon-Twitter_Square_1:before {
    content: "\e9bc";
}

.icon-Instagram_Circle_1:before {
    content: "\e9bd";
}

.icon-Facebook_Square_x40_2xpng_2:before {
    content: "\e9be";
}

.icon-WordPress_Circle_1:before {
    content: "\e9bf";
}

.icon-Dropbox_Circle_1:before {
    content: "\e9c0";
}

.icon-Yahoo_Circle_1:before {
    content: "\e9c1";
}

.icon-Google_Plus_Circle_1:before {
    content: "\e9c2";
}

.icon-Facebook_Circle_1:before {
    content: "\e9c3";
}

.icon-Twitter_Circle_1:before {
    content: "\e9c4";
}

.icon-Tumblr_Circle_1:before {
    content: "\e9c5";
}

.icon-Pinterest_Circle_1:before {
    content: "\e9c6";
}

.icon-LinkedIn_Circle_1:before {
    content: "\e9c7";
}

.icon-Vimeo_Circle_1:before {
    content: "\e9c8";
}

.icon-YouTube_Circle_1:before {
    content: "\e9c9";
}

.icon-Global_Connection_1:before {
    content: "\e9ca";
}

.icon-Share_3_1:before {
    content: "\e9cb";
}

.icon-Share_2_1:before {
    content: "\e9cc";
}

.icon-Servers_1:before {
    content: "\e9cd";
}

.icon-Cloud_Upload_1:before {
    content: "\e9ce";
}

.icon-At_Symbol_1:before {
    content: "\e9cf";
}

.icon-Podcasts_1_1:before {
    content: "\e9d0";
}

.icon-Podcasts_2_1:before {
    content: "\e9d1";
}

.icon-RSS_2_1:before {
    content: "\e9d2";
}

.icon-Cloud_Sync_1:before {
    content: "\e9d3";
}

.icon-Refresh_1_1:before {
    content: "\e9d4";
}

.icon-RSS_1_1:before {
    content: "\e9d5";
}

.icon-Refresh_3_1:before {
    content: "\e9d6";
}

.icon-Refresh_4_1:before {
    content: "\e9d7";
}

.icon-Inbox_Upload_1:before {
    content: "\e9d8";
}

.icon-Cloud_Download_1:before {
    content: "\e9d9";
}

.icon-Refresh_2_1:before {
    content: "\e9da";
}

.icon-Mails_1:before {
    content: "\e9db";
}

.icon-Inbox_1:before {
    content: "\e9dc";
}

.icon-Inboxes_1:before {
    content: "\e9dd";
}

.icon-Mail_1:before {
    content: "\e9de";
}

.icon-Inbox_Full_1:before {
    content: "\e9df";
}

.icon-Inbox_Download_1:before {
    content: "\e9e0";
}

.icon-Browser_with_Compass_1:before {
    content: "\e9e1";
}

.icon-Bitcoin_Coin_1:before {
    content: "\e9e2";
}

.icon-Browser_1:before {
    content: "\e9e3";
}

.icon-Browsers_1:before {
    content: "\e9e4";
}

.icon-Wallet_2_1:before {
    content: "\e9e5";
}

.icon-Share_1:before {
    content: "\e9e6";
}

.icon-Handbag_1:before {
    content: "\e9e7";
}

.icon-Receipts_1:before {
    content: "\e9e8";
}

.icon-Download_2_1:before {
    content: "\e9e9";
}

.icon-Shopping_Basket_Right_1:before {
    content: "\e9ea";
}

.icon-Receipt_1:before {
    content: "\e9eb";
}

.icon-Wallet_3_1:before {
    content: "\e9ec";
}

.icon-Shopping_Basket_Out_1:before {
    content: "\e9ed";
}

.icon-Shopping_Basket_Plus_1:before {
    content: "\e9ee";
}

.icon-Shopping_Basket_Minus_1:before {
    content: "\e9ef";
}

.icon-Wallet_1_1:before {
    content: "\e9f0";
}

.icon-Shopping_Basket_In_1:before {
    content: "\e9f1";
}

.icon-Shopping_Basket_Left_1:before {
    content: "\e9f2";
}

.icon-Shopping_Bags_1:before {
    content: "\e9f3";
}

.icon-Shopping_Cart_Right_1:before {
    content: "\e9f4";
}

.icon-Shopping_Basket_1:before {
    content: "\e9f5";
}

.icon-Shopping_Bag_1:before {
    content: "\e9f6";
}

.icon-Shopping_Cart_Minus_1:before {
    content: "\e9f7";
}

.icon-Cash_Register_1:before {
    content: "\e9f8";
}

.icon-Shopping_Cart_Plus_1:before {
    content: "\e9f9";
}

.icon-Shopping_Cart_In_1:before {
    content: "\e9fa";
}

.icon-Shopping_Cart_Left_1:before {
    content: "\e9fb";
}

.icon-Shopping_Cart_1:before {
    content: "\e9fc";
}

.icon-Paper_Bitcoin_1:before {
    content: "\e9fd";
}

.icon-Paper_Euros_2_1:before {
    content: "\e9fe";
}

.icon-Shopping_Cart_Out_1:before {
    content: "\e9ff";
}

.icon-Paper_Bitcoin_2_1:before {
    content: "\ea00";
}

.icon-Paper_Bitcoin_1_1:before {
    content: "\ea01";
}

.icon-Paper_Dollars_2_1:before {
    content: "\ea02";
}

.icon-Paper_Euro_1:before {
    content: "\ea03";
}

.icon-Paper_Dollars_1_1:before {
    content: "\ea04";
}

.icon-Paper_Euros_1_1:before {
    content: "\ea05";
}

.icon-Euro_Coins_1:before {
    content: "\ea06";
}

.icon-Dollar_Coin_1:before {
    content: "\ea07";
}

.icon-Paper_Dollar_1:before {
    content: "\ea08";
}

.icon-Bitcoin_Coins_1:before {
    content: "\ea09";
}

.icon-Euro_Coin_1:before {
    content: "\ea0a";
}

.icon-Dollar_Coins_1:before {
    content: "\ea0b";
}

.icon-DLNA_Logo_1:before {
    content: "\ea0c";
}

.icon-Finder_1:before {
    content: "\ea0d";
}

.icon-Credit_Cards_1:before {
    content: "\ea0e";
}

.icon-Credit_Card_1:before {
    content: "\ea0f";
}

.icon-Android_1:before {
    content: "\ea10";
}

.icon-Record_Player_1:before {
    content: "\ea11";
}

.icon-OS_Windows_1:before {
    content: "\ea12";
}

.icon-OS_X_1:before {
    content: "\ea13";
}

.icon-WiFi_Logo_1:before {
    content: "\ea14";
}

.icon-Airplay_Logo_1:before {
    content: "\ea15";
}

.icon-Cameras_1:before {
    content: "\ea16";
}

.icon-Chromecast_Logo_1:before {
    content: "\ea17";
}

.icon-Keyboard_Down_1:before {
    content: "\ea18";
}

.icon-Radio_1:before {
    content: "\ea19";
}

.icon-Calculator_1:before {
    content: "\ea1a";
}

.icon-Boom_Box_1:before {
    content: "\ea1b";
}

.icon-Server_Connections_x40__1:before {
    content: "\ea1c";
}

.icon-Keyboard_Up_1:before {
    content: "\ea1d";
}

.icon-Audio_Muted_1:before {
    content: "\ea1e";
}

.icon-Megaphone_1_1:before {
    content: "\ea1f";
}

.icon-Headphones_2_1:before {
    content: "\ea20";
}

.icon-Bluetooth_1:before {
    content: "\ea21";
}

.icon-Router_1:before {
    content: "\ea22";
}

.icon-Headphones_3_1:before {
    content: "\ea23";
}

.icon-Megaphone_2_1:before {
    content: "\ea24";
}

.icon-Mouse_1:before {
    content: "\ea25";
}

.icon-Megaphone_3_1:before {
    content: "\ea26";
}

.icon-Headphones_1_1:before {
    content: "\ea27";
}

.icon-Printer_1:before {
    content: "\ea28";
}

.icon-Keyboard_1:before {
    content: "\ea29";
}

.icon-Audio_2_1:before {
    content: "\ea2a";
}

.icon-Command_Line_1:before {
    content: "\ea2b";
}

.icon-Audio_1_1:before {
    content: "\ea2c";
}

.icon-Game_Controler_1:before {
    content: "\ea2d";
}

.icon-Barcode_Search_1:before {
    content: "\ea2e";
}

.icon-Audio_3_1:before {
    content: "\ea2f";
}

.icon-Audio_0_1:before {
    content: "\ea30";
}

.icon-Paper_Shredder_1:before {
    content: "\ea31";
}

.icon-Barcode_Scan_1:before {
    content: "\ea32";
}

.icon-Battery_3_1:before {
    content: "\ea33";
}

.icon-Barcode_1:before {
    content: "\ea34";
}

.icon-Battery_5_1:before {
    content: "\ea35";
}

.icon-Power_1:before {
    content: "\ea36";
}

.icon-Battery_4_1:before {
    content: "\ea37";
}

.icon-Old_TV_1:before {
    content: "\ea38";
}

.icon-TV_Fuzz_1:before {
    content: "\ea39";
}

.icon-Camera_with_Wide_Angle_1:before {
    content: "\ea3a";
}

.icon-TV_1:before {
    content: "\ea3b";
}

.icon-Battery_1_1:before {
    content: "\ea3c";
}

.icon-Battery_2_1:before {
    content: "\ea3d";
}

.icon-Battery_Charging_1:before {
    content: "\ea3e";
}

.icon-Camera_with_Film_Strip_1:before {
    content: "\ea3f";
}

.icon-Floppy_Disk_2_1:before {
    content: "\ea40";
}

.icon-Floppy_Disk_1_1:before {
    content: "\ea41";
}

.icon-Camera_1:before {
    content: "\ea42";
}

.icon-Desktop_Right_1:before {
    content: "\ea43";
}

.icon-Hard_Drive_1:before {
    content: "\ea44";
}

.icon-Camera_with_Polaroid_1:before {
    content: "\ea45";
}

.icon-Desktop_Left_1:before {
    content: "\ea46";
}

.icon-Desktop_Upload_1:before {
    content: "\ea47";
}

.icon-Desktop_Download_1:before {
    content: "\ea48";
}

.icon-Desktop_1:before {
    content: "\ea49";
}

.icon-Video_Camera_3_1:before {
    content: "\ea4a";
}

.icon-Video_Camera_4_1:before {
    content: "\ea4b";
}

.icon-Tablet_1:before {
    content: "\ea4c";
}

.icon-Desktop_Sync_1:before {
    content: "\ea4d";
}

.icon-Laptop_1:before {
    content: "\ea4e";
}

.icon-Mobile_1:before {
    content: "\ea4f";
}

.icon-Video_Camera_1_1:before {
    content: "\ea50";
}

.icon-Video_Camera_2_1:before {
    content: "\ea51";
}

.icon-Microphone_2_1:before {
    content: "\ea52";
}

.icon-Microphone_1:before {
    content: "\ea53";
}

.icon-Lightning_Bolt_x40_2xpng_2:before {
    content: "\ea54";
}

.icon-Heart_x40_2xpng_2:before {
    content: "\ea55";
}

.icon-Storefront_x40_2xpng_2:before {
    content: "\ea56";
}

.icon-Diamond_x40_2xpng_2:before {
    content: "\ea57";
}

.icon-Trash_Full_x40_2xpng_2:before {
    content: "\ea58";
}

.icon-Trash_x40_2xpng_2:before {
    content: "\ea59";
}

.icon-Bell_x40_2xpng_2:before {
    content: "\ea5a";
}

.icon-Phone_2_x40_2xpng_2:before {
    content: "\ea5b";
}

.icon-Phone_1_x40_2xpng_2:before {
    content: "\ea5c";
}

.icon-Old_Building_x40_2xpng_2:before {
    content: "\ea5d";
}

.icon-Calendar_1_x40_2xpng_2:before {
    content: "\ea5e";
}

.icon-Users_1_x40_2xpng_2:before {
    content: "\ea5f";
}

.icon-Calendar_2_x40_2xpng_2:before {
    content: "\ea60";
}

.icon-Warning_x40_2xpng_2:before {
    content: "\ea61";
}

.icon-Gift_x40_2xpng_2:before {
    content: "\ea62";
}

.icon-Wrench_x40_2xpng_2:before {
    content: "\ea63";
}

.icon-Eye_x40_2xpng_2:before {
    content: "\ea64";
}

.icon-Users_2_x40_2xpng_2:before {
    content: "\ea65";
}

.icon-List_1_x40_2xpng_2:before {
    content: "\ea66";
}

.icon-Folder_Search_x40_2xpng_2:before {
    content: "\ea67";
}

.icon-User_Female_x40_2xpng_2:before {
    content: "\ea68";
}

.icon-Folders_x40_2xpng_2:before {
    content: "\ea69";
}

.icon-Sheild_x40_2xpng_2:before {
    content: "\ea6a";
}

.icon-User_Male_x40_2xpng_2:before {
    content: "\ea6b";
}

.icon-Folder_More_x40_2xpng_2:before {
    content: "\ea6c";
}

.icon-List_2_x40_2xpng_2:before {
    content: "\ea6d";
}

.icon-Folder_x40_2xpng_2:before {
    content: "\ea6e";
}

.icon-List_3_x40_2xpng_2:before {
    content: "\ea6f";
}

.icon-Suitcases_x40_2xpng_2:before {
    content: "\ea70";
}

.icon-Key_1_x40_2xpng_2:before {
    content: "\ea71";
}

.icon-Key_2_x40_2xpng_2:before {
    content: "\ea72";
}

.icon-Briefcase_x40_2xpng_2:before {
    content: "\ea73";
}

.icon-Add_x40_2xpng_2:before {
    content: "\ea74";
}

.icon-Newspaper_x40_2xpng_2:before {
    content: "\ea75";
}

.icon-Suitcase_x40_2xpng_2:before {
    content: "\ea76";
}

.icon-Contact_Card_1_x40_2xpng_2:before {
    content: "\ea77";
}

.icon-Contact_Cards_2_x40_2xpng_2:before {
    content: "\ea78";
}

.icon-Remove_x40_2xpng_2:before {
    content: "\ea79";
}

.icon-Newspapers_x40_2xpng_2:before {
    content: "\ea7a";
}

.icon-Settings_3_x40_2xpng_2:before {
    content: "\ea7b";
}

.icon-Contact_Card_2_x40_2xpng_2:before {
    content: "\ea7c";
}

.icon-Toggles_3_x40_2xpng_2:before {
    content: "\ea7d";
}

.icon-Toggles_2_x40_2xpng_2:before {
    content: "\ea7e";
}

.icon-Settings_1_x40_2xpng_2:before {
    content: "\ea7f";
}

.icon-Tags_x40_2xpng_2:before {
    content: "\ea80";
}

.icon-Settings_2_x40_2xpng_2:before {
    content: "\ea81";
}

.icon-Contact_Cards_1_x40_2xpng_2:before {
    content: "\ea82";
}

.icon-Envelope_x40_2xpng_2:before {
    content: "\ea83";
}

.icon-Paper_Airplane_x40_2xpng_2:before {
    content: "\ea84";
}

.icon-Toggles_1_x40_2xpng_2:before {
    content: "\ea85";
}

.icon-Envelopes_x40_2xpng_2:before {
    content: "\ea86";
}

.icon-Stars_x40_2xpng_2:before {
    content: "\ea87";
}

.icon-Star_in_Circle_x40_2xpng_2:before {
    content: "\ea88";
}

.icon-Tag_x40_2xpng_2:before {
    content: "\ea89";
}

.icon-Top_Charts_x40_2xpng_2:before {
    content: "\ea8a";
}

.icon-Music_Note_2_x40_2xpng_2:before {
    content: "\ea8b";
}

.icon-Filter_Add_x40_2xpng_2:before {
    content: "\ea8c";
}

.icon-Star_x40_2xpng_2:before {
    content: "\ea8d";
}

.icon-Zoom_Out_x40_2xpng_2:before {
    content: "\ea8e";
}

.icon-Music_Note_1_x40_2xpng_2:before {
    content: "\ea8f";
}

.icon-Box_with_Video_Files_x40_2xpng_2:before {
    content: "\ea90";
}

.icon-Filter_x40_2xpng_2:before {
    content: "\ea91";
}

.icon-Filter_Remove_x40_2xpng_2:before {
    content: "\ea92";
}

.icon-Magnify_Glass_x40_2xpng_2:before {
    content: "\ea93";
}

.icon-Box_x40_2xpng_2:before {
    content: "\ea94";
}

.icon-Zoom_In_x40_2xpng_2:before {
    content: "\ea95";
}

.icon-Box_with_Papers_x40_2xpng_2:before {
    content: "\ea96";
}

.icon-Photos_3_x40_2xpng_2:before {
    content: "\ea97";
}

.icon-Photo_List_x40_2xpng_2:before {
    content: "\ea98";
}

.icon-Box_Upload_x40_2xpng_2:before {
    content: "\ea99";
}

.icon-Box_Download_x40_2xpng_2:before {
    content: "\ea9a";
}

.icon-Box_with_More_x40_2xpng_2:before {
    content: "\ea9b";
}

.icon-Photo_x40_2xpng_2:before {
    content: "\ea9c";
}

.icon-Building_x40_2xpng_2:before {
    content: "\ea9d";
}

.icon-Photos_x40_2xpng_2:before {
    content: "\ea9e";
}

.icon-Error_x40_2xpng_2:before {
    content: "\ea9f";
}

.icon-Help_x40_2xpng_2:before {
    content: "\eaa0";
}

.icon-Chat_Bubble_x40_2xpng_2:before {
    content: "\eaa1";
}

.icon-Info_x40_2xpng_2:before {
    content: "\eaa2";
}

.icon-Photos_2_x40_2xpng_2:before {
    content: "\eaa3";
}

.icon-Video_2_x40_2xpng_2:before {
    content: "\eaa4";
}

.icon-Chat_Bubbles_x40_2xpng_2:before {
    content: "\eaa5";
}

.icon-Chat_Bubble_Dots_x40_2xpng_2:before {
    content: "\eaa6";
}

.icon-No_Entry_x40_2xpng_2:before {
    content: "\eaa7";
}

.icon-More_2_x40_2xpng_2:before {
    content: "\eaa8";
}

.icon-Pencil_x40_2xpng_2:before {
    content: "\eaa9";
}

.icon-Write_x40_2xpng_2:before {
    content: "\eaaa";
}

.icon-Clock_2_x40_2xpng_2:before {
    content: "\eaab";
}

.icon-More_1_x40_2xpng_2:before {
    content: "\eaac";
}

.icon-Bar_Chart_x40_2xpng_2:before {
    content: "\eaad";
}

.icon-Life_Preserver_x40_2xpng_2:before {
    content: "\eaae";
}

.icon-Pie_Chart_x40_2xpng_2:before {
    content: "\eaaf";
}

.icon-X_x40_2xpng_2:before {
    content: "\eab0";
}

.icon-Notepad_x40_2xpng_2:before {
    content: "\eab1";
}

.icon-Video_1_x40_2xpng_2:before {
    content: "\eab2";
}

.icon-Videos_x40_2xpng_2:before {
    content: "\eab3";
}

.icon-Note_x40_2xpng_2:before {
    content: "\eab4";
}

.icon-Checkmark_1_x40_2xpng_2:before {
    content: "\eab5";
}

.icon-Checkmark_2_x40_2xpng_2:before {
    content: "\eab6";
}

.icon-Page_1_x40_2xpng_2:before {
    content: "\eab7";
}

.icon-Pages_2_x40_2xpng_2:before {
    content: "\eab8";
}

.icon-Clipboard_x40_2xpng_2:before {
    content: "\eab9";
}

.icon-Lock_x40_2xpng_2:before {
    content: "\eaba";
}

.icon-Clock_1_x40_2xpng_2:before {
    content: "\eabb";
}

.icon-Address_Book_x40_2xpng_2:before {
    content: "\eabc";
}

.icon-Page_2_x40_2xpng_2:before {
    content: "\eabd";
}

.icon-Pages_1_x40_2xpng_2:before {
    content: "\eabe";
}

.icon-Book_x40_2xpng_2:before {
    content: "\eabf";
}

.icon-Unlock_x40_2xpng_2:before {
    content: "\eac0";
}

.icon-Home_x40_2xpng_2:before {
    content: "\eac1";
}
